HWK1/4-8
HWK1/4-11
HWK1/*.pdf
HWK1/*.txt
HWK1/*.py
HWK2/10*
HWK2/5-9
HWK2/5-9-base
HWK2/6-10
HWK2/6-13
HWK2/*.pdf
HWK2/draw.py
HWK2/init_state
HWK2/res*
HWK2/*.sh
HWK3/8-6
HWK3/8-12-base
HWK3/8-12-diag-col
HWK3/8-12-elem
HWK3/9-7
HWK3/9-10
HWK3/*.pdf
HWK3/draw.py
HWK3/mat*
HWK3/prob*
HWK3/res*
HWK3/vec*
HWK3/*.sh
PRJ/.vscode
PRJ/1-1
PRJ/1-2
PRJ/1-3
PRJ/2-1
PRJ/2-2
PRJ/2-3
PRJ/*.txt
PRJ/mat_A
PRJ/mat_B
PRJ/kernel
PRJ/C
PRJ/Conv
PRJ/AvgPooling
run.sh